In [1]:
import pandas as pd
import numpy as np
import chow_test

In [2]:
data = pd.read_csv('financial_time_series.csv')
data.head()

   Year  LogEqPrem  BookMarket
0  1927   0.280823    0.374689
1  1928   0.313824    0.259667
2  1929  -0.112428    0.338458
3  1930  -0.288025    0.554745
4  1931  -0.563742    1.170732

In [3]:
y1 = data[data['Year'] < 1980]['LogEqPrem']
x1 = data[data['Year'] < 1980]['BookMarket']
y2 = data[data['Year'] >= 1980]['LogEqPrem']
x2 = data[data['Year'] >= 1980]['BookMarket']

In [4]:
f_test = chow_test.f_value(y1, x1, y2, x2)

In [5]:
print(f_test)

[ 2.26875635]